{% macro render_field(field, custom_client_validation=False, checkbox_right=False) %}
    <div class="{{ "checkbox" if field.type == "BooleanField" else "form-group" }}">
    {% if field.type == "BooleanField" %}
        {% if checkbox_right %}
            {{ field.label.text }}
            <label>
                {{ field(required=field.flags.required, **kwargs) }}
            </label>
        {% else %}
           <label>
               {{ field(required=field.flags.required, **kwargs) }} {{ field.label.text }}
           </label>
        {% endif %}
    {% else %}
        {% if field.label.text %}{{ field.label }}{% endif %}
        {{ field(required=field.flags.required, class_="form-control", **kwargs )|safe }}
    {% endif %}
    <span class="help-block">
        {% for error in field.errors %}
            <span class="form-control-feedback text-danger">{{ error }}</span>
        {% endfor %}
    </span>
    </div>
{% endmacro %}
